{% extends "base.html" %} 
{% from "jinja_helpers.html" import render_field, render_button, render_checkbox %}

{% block title %}Med-Wiz{% endblock %}

{% block content %}
<h1 align="center">Profil : {{ current_user.name }}</h1>

<div class="container-fluid">
  <div class="row">
    <!-- Left Column: Available Patients -->
    <div class="col-md-5">
      <h2>Dostępni pacjenci</h2>
      <table class="table table-hover table-bordered table-striped">
        {% for patient in user.patient %}
        <tr>
          <td>
            {{ patient.id }}. <a href="patients/{{ patient.id }}">{{ patient.name }}</a> - Pesel: {{ patient.pesel }}
            <br />
            <a class="btn btn-primary mt-3" href="{{ url_for('views.patientView', patientId=patient.id) }}">Profil</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <!-- Right Column: User Data -->
    <div class="col-md-5">
      <h2 align="center">Twoje dane</h2>
      <br />
      <div class="profile">
        <div class="row">
          <div class="col-md-8">
            <ul class="list-group list-group-flush" id="userProfile">
              <li class="list-group-item">
                <b>Imię:</b> {{ user.name }}
              </li>
              <li class="list-group-item">
                <b>Nazwisko:</b> {{ user.surname }}
              </li>
              <li class="list-group-item">
                <b>Specjalizacja:</b> {{ user.specialization }}
              </li>
              <li class="list-group-item">
                <b>Kontakt:</b> {{ user.phonenumber }}
              </li>
              <li class="list-group-item">
                <b>Opis:</b> {{ user.about}}
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            {% if user.picture %}
              <img src="{{ url_for('static', filename='images/'+ user.picture) }}" width="320" height="320" class="img-fluid" alt="PFP"/>
            {% else %}
              Brak zdjęcia
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
