{% extends "base.html" %}
{% from "jinja_helpers.html" import render_field, render_button, render_checkbox %}
{% block title %}Med-Wiz{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Profil Pacjenta, {{ patient.name }}</h1>
    <div class="row">
        <!-- Kolumna z danymi medycznymi -->
        <div class="col-md-4">
            <div class="card my-4">
                <div class="card-header">
                    <h2>Dane Medyczne</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="comments">
                        <li class="list-group-item" style="font-size: 1.2em;">
                            <p style="font-size: 1.5em;"><b>Tytuł wpisu:</b> {{ meddata.title }}</p>
                            <p><b>Data zamieszczenia:</b> {{ meddata.date }}</p>
                            <p><b>Autor:</b> {{ users.get(meddata.user_id).name }}</p>
                            <p><b>Pacjent:</b> {{ patient.name }}</p>
                            <p><b>Pesel pacjenta:</b> {{ patient.pesel }}</p>
                            

                            {% if meddata.filename.lower().endswith('.mp4') %}
                            <div class="text-center">
                                <video controls autoplay width="320" height="240">
                                    <source src="{{ url_for('static', filename='images/'+ meddata.filename) }}" type="video/mp4"/>
                                </video>
                            </div>
                            {% elif meddata.filename %}
                            <div class="text-center">
                                <img src="{{ url_for('static', filename='images/'+ meddata.filename) }}" width="320" height="320" class="img-fluid" alt="Medical Image"/>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Kolumna z diagnozą -->
        <div class="col-md-4">
            <div class="card my-4">
                <div class="card-header">
                    <h2>Diagnoza</h2>
                </div>
                <div class="card-body">
                    <p class="lead" style="font-size: 1.5em;">
                        {{meddata.diagnosis}}
                    </p>
                </div>
            </div>
        </div>

        <!-- Kolumna z plikami do pobrania -->
        <div class="col-md-4">
            <div class="card my-4">
                <div class="card-header">
                    <h2>Pliki do pobrania</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% if meddata.filename %}
                        <li class="list-group-item text-center">
                            <a href="{{ url_for('static', filename='images/' + meddata.filename) }}" download>
                                <img src="{{ url_for('static', filename='images/' + meddata.filename) }}" alt="Pobierz plik" class="img-thumbnail" style="max-width: 150px;"/>
                                <br />Plik do pobrania
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
