{% extends "base.html" %}{% from "jinja_helpers.html" import render_field %} {%
from "jinja_helpers.html" import render_button %} {%block title%}Med-Wiz
Rejestracja{%endblock%} {%block content%}
<br />
<div class="shadow p-3 mb-5 bg-body rounded">
  <form method="post" novalidate="true">
    {{ form.csrf_token }} {{form.hidden_tag()}}{{render_field(form.name)}}
    <br />
    {{render_field(form.pesel)}}
    <br />
    {{render_button(form.submit)}}
  </form>
</div>
<br />
<table class="table table-hover table-bordered table-striped">
  {% for patient in patients %}
  <tr>
    <td>
      {{patient.id}}. <a href="patients/{{patient.id}}">{{patient.name}}</a> -
      Pesel: {{patient.pesel}}
      <button
        type="button"
        class="close"
        onClick="deletePatient('{{ patient.id }}')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </td>
  </tr>
  {% endfor %}
</table>
{%endblock%}
