{% extends "base.html" %}{% from "jinja_helpers.html" import render_field %} {%
  from "jinja_helpers.html" import render_button %} {%block title%}Med-Wiz
  Rejestracja{%endblock%} {%block content%}    
  <div class="container">
      <div class = "container">
        <form method="post">
          {{ form.csrf_token }} {{form.hidden_tag()}}

          <h1>{{user.name}} update information</h1>
          {{render_field(form.name)}}
          {{render_field(form.email)}}
          {{render_field(form.password)}}
          <br />

          {{render_button(form.submit)}}

        </form>



      </div>
    </div>

{%endblock%}