{% extends "base.html" %} {%block content%}



      <div class = "container">
        <form method="post">
          <h1>{{user.name}} update information</h1>
          <label>New name:</label>
          <input placeholder="New name" class="form-control" name="name" value="{{user.name}}"></input></p>
          <label>New Email:</label>
          <input placeholder="New email" class="form-control" name="email" value="{{user.email}}"></input></p>
          <label>New Password:</label>
          <input  type="password" class="form-control" name="password"></input><br />
          <button type="submit" class="btn btn-primary">Submit</button>

        </form>



      </div>

{%endblock%}