{% extends "base.html" %}
{% from "jinja_helpers.html" import render_field %}
{% from "jinja_helpers.html" import render_button %}

{% block title %}Med-Wiz Rejestracja{% endblock %}

{% block content %}
<br />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="container">
        <div class="container">
          <form method="post" novalidate="true">
            {{ form.csrf_token }} 
            {{ form.hidden_tag() }}
            
            <h1>Zmiana Hasła</h1>
            {{ render_field(form.password) }}
            {{ render_field(form.repassword) }}
            <br />
            {{ render_button(form.submit) }}
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="container">
        <div class="container">
          <form method="post" method="post"
          novalidate="true"
          enctype="multipart/form-data">
            {{ user_form.csrf_token }}
            {{ user_form.hidden_tag() }}

            <h1>Profil Użytkownika</h1>
            {{ render_field(user_form.name) }}
            {{ render_field(user_form.surname) }}
            {{ render_field(user_form.specialization) }}
            {{ render_field(user_form.about) }}
            {{ render_field(user_form.phonenumber) }}
            {{ render_field(user_form.picture) }}
            <br />
            {{ render_button(user_form.submit) }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
