{% extends "base.html" %}{% from "jinja_helpers.html" import render_field %} {%
from "jinja_helpers.html" import render_button %} {%block title%}Med-Wiz
Rejestracja{%endblock%} {%block content%}

<form method="post" novalidate="true">
  <br />
  {{ form.csrf_token }} {{form.hidden_tag()}}{{render_field(form.name)}}
  <br />
  {{render_field(form.email)}}
  <br />
  {{render_field(form.password)}}
  <br />
  {{render_field(form.repassword)}}
  <br />
  {{render_button(form.submit)}}
</form>
{%endblock%}
