{% extends "base.html" %} {%block title%}Med-Wiz Rejestracja{%endblock%} {%block
content%}
<form method="post">
  <br />
  <h2 align="Center">Rejestracja</h2>
  <div class="form-group">
    <label for="email">email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Wpisz email"
    />
  </div>
  <div class="form-group">
    <label for="name">Indetyfikator</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Wpisz Indetyfikator"
    />
  </div>
  <div class="form-group">
    <label for="password">Hasło</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Wpisz hasło"
    />
  </div>
  <div class="form-group">
    <label for="password">Potwierdz Hasło</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Potwierdz hasło"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}
