{% extends "base.html" %} {%block title%}Med-Wiz login{%endblock%}

{%block content%}
{{user}}

<form method="post">
    <br />
    <h2 align="Center">{{var}}</h2>
    <div class="form-group">
      <label for="name">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Wpisz Email"
      />
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Wpisz hasło"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{%endblock%}


